.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.about-cat__form {
  display: flex;
  flex-direction: column;
}

.about-cat__description {
  margin: 0 20px;
  margin-bottom: 39px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
