.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.about-cat__form {
  display: flex;
  flex-direction: column;
}

.about-cat__description {
  margin: 0 20px;
  margin-bottom: 39px;
  .font-upper(400, 14px, 18px);
  color: #000000;
}
