.form-container {
  margin: 0;
}

.form-title {
  margin: 27px 20px 37px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
