.form-manners {
  padding: 0 20px;
}

.form-manners__title {
  margin-bottom: 47px;
}

.form-manners__description {
  display: block;
  padding: 10px 15px 10px 12px;
  margin-bottom: 23px;
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  .font-upper(400, 16px, 18px);
  color: #444444;
}
