.form-extra {
  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-extra__title {
  margin-bottom: 34px;
  max-width: 141px;

  @media (min-width: @tablet-width) {
    max-width: 211px;
    margin-bottom: 57px;
    .font-main(400, 36px, 36px);
  }
}

.form-extra__list {
  .site-list();
  margin-bottom: 40px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-bottom: 22px;
    max-width: 565px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 29px;
    max-width: 1196px;
  }
}

.form-extra__item {
  .site-list-item();

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  @media (min-width: @tablet-width) {
    width: 220px;

    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-right: 104px;
    }
  }
}

.form-extra__label {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 220px;
  }
}

.form-extra__input {
  margin: 0;
  margin-right: 16px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-extra__text {
  margin-top: 7px;
  margin-left: 46px;
  .font-upper(400, 16px, 18px);
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-top: 5px;
    margin-left: 59px;
    .font-upper(400, 20px, 30px);
  }
}

.about-cat__form__required-text {
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 21px;
}
