.form-extra {
  padding: 0 20px;
}

.form-extra__title {
  margin-bottom: 34px;
}

.form-extra__list {
  .site-list();
  margin-bottom: 34px;
}

.form-extra__item {
  .site-list-item();

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form-extra__label {
  display: flex;
}

.form-extra__input {
  margin: 0;
  margin-right: 16px;
}

.form-extra__text {
  .font-upper(400, 16px, 18px);
  color: #000000;
}

.about-cat__form__required-text {
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 21px;
}
