.form-container {
  margin: 0;

  @media (min-width: @tablet-width) {
    // padding-left: 70px;
    // padding-right: 65px;
  }

  @media (min-width: @desktop-width) {
    // padding: 0 110px;
  }
}

.form-container__title {
  margin: 27px 20px 37px;
  .font-main(400, 36px, 36px);
  color: #000000;
  border-bottom: none;

  @media (min-width: @tablet-width) {
    margin: 65px 65px 54px 70px;
    .font-main(400, 60px, 60px);
  }

  @media (min-width: @desktop-width) {
    margin: 82px 109px 56px;
    .font-main(400, 60px, 60px);
  }
}
