.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.logo {
  margin-right: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__link {
  margin-left: 20px;
}

.main-header__link-text {
  margin-top: 13px;
}
