.main-footer {
  padding: 39px 20px 22px;
}

.main-footer__logo-container {
  display: flex;
  padding-bottom: 32px;
  margin-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__logo {
  margin-left: auto;
}

.main-footer__social {
  display: flex;
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__list {
  display: flex;
  margin: 0 auto;
}

.main-footer__item {
  &:not(:last-child) {
    margin-right: 26px;
  }
}

.main-footer__link {
  &:hover path {
    fill: #68b738;
  }

  &:active path {
    opacity: 0.3;
  }
}

.main-footer__link-academy {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  &:hover path {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__text-academy {
  margin: 0;
  margin-top: 6px;
}
