.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-top: 9px;
  margin: 0 auto;
  .border-bottom();

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 0;
  }
}

.main-header__link {
  width: 34px;
  height: 38px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
    margin-left: 30px;
    margin-right: 93px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
    margin-left: 110px;
    margin-right: 0;
  }
}

.main-header__image {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__link-text {
  width: 101px;
  height: 18px;
  margin-top: 14px;
  margin-left: -10px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
