.owner-contacts {
  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.owner-contacts__list {
  .site-list();
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;

  @media (max-width: @mobile-width-only) {
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 280px;
  }

  @media (min-width: @tablet-width) {
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.owner-contacts__item {
  .site-list-item();

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.owner-contacts__title {
  min-width: 200px;
  padding-right: 2px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 514px;
    padding-right: 40px;
    margin-bottom: 76px;
    .font-main(400, 36px, 36px);
  }
}

.owner-contacts__email {
  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.owner-contacts__phone {
  @media (min-width: @tablet-width) {
    margin-left: -3px;

    & .owner-contacts__input {
      padding-left: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 572px;
  }
}

.owner-contacts__input-mail {
  stroke: #222222;
  fill: #ffffff;
}

.owner-contacts__input-phone {
  fill: #000000;
}

.owner-contacts__input {
  padding-left: 13px;
  padding-right: 44px;
  position: relative;

  &[type="email"] + .owner-contacts__input-icon {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    width: 19px;
    height: 15px;
  }

  &[type="tel"] + .owner-contacts__input-icon {
    content: "";
    position: absolute;
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
  }

  &:focus + .owner-contacts__input-mail {
    stroke: #68b738;
  }

  &:focus:invalid + .owner-contacts__input-mail {
    stroke: #ff8282;
  }

  &:focus + .owner-contacts__input-phone {
    fill: #68b738;
  }

  &:focus:invalid + .owner-contacts__input-phone {
    fill: #ff8282;
  }

  @media (min-width: @tablet-width) {
    &[type="email"] {
      padding-left: 23px;
    }

    &[type="email"] + .owner-contacts__input-icon {
      top: 18px;
      right: 18px;
    }

    &[type="tel"] + .owner-contacts__input-icon {
      top: 16px;
      right: 18px;
    }
  }
}
