.owner-contacts {
  padding: 0 20px;
  padding-bottom: 23px;
}

.owner-contacts__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form-title-field {
  margin: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.owner-contacts__title {
  margin: 0;
  margin-bottom: 35px;
}

