.partnership {
  background-color: #ffffff;
}

.form-parntnership {
  background-color: #f2f2f2;
}

.partnership-block {
  margin: 26px 20px;
  margin-top: 0;
  display: flex;
}

.partnership-paragraph {
  display: block;
  width: 139px;
  margin: 0;
}

.partnership__invite {
  margin: 0;
  margin-top: 26px;
  margin-right: 2px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.partnership__address {
  margin: 0;
  margin-top: 26px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
