.partnership {
  background-color: #ffffff;
  position: relative;

  &--background {
    background-color: #f2f2f2;
  }

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    width: 768px;
    margin-left: -30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -110px;
    width: 1440px;
  }
}

.partnership__block {
  margin: 26px 20px;
  margin-top: 0;
  display: flex;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 56px 70px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 405px;
    margin: 0;
    position: absolute;
    padding: 60px 80px 56px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
  }
}

.partnership-paragraph {
  display: block;
  width: 139px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 160px;
  }
}

.partnership__invite {
  margin: 0;
  margin-top: 26px;
  margin-right: 2px;
  .font-upper(400, 16px, 20px);
  color: #111111;

  @media (min-width: @tablet-width) {
    margin: 0;
    .font-upper(400, 20px, 26px);
  }
}

.partnership__address {
  margin: 0;
  margin-top: 26px;
  .font-main(400, 14px, 20px);
  text-align: right;
  font-family: "Arial", "Oswald", sans-serif;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin: 0;
    .font-main(400, 16px, 20px);
    font-family: "Arial", "Oswald", sans-serif;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.partnership__address-city {
  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }
}

.partnership__location iframe {
  border: none;
  display: block;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 400px;
  }
}
