.program-type {
  padding: 0 20px;
  padding-bottom: 25px;
  margin-bottom: 26px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    margin: 0;
    margin-left: 71px;
    margin-right: 67px;
    margin-bottom: 75px;
    padding: 24px 0 28px 27px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 568px;
    margin: 0;
    margin-right: 110px;
    margin-bottom: 69px;
    padding: 25px 27px;
    border: 1px solid #e7e7e7;
  }
}

.program-type__list {
  .site-list();
}

.program-type__item {
  min-width: 280px;
  .site-list-item();

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.program-type__label {
  position: relative;
  display: flex;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.program-type__text {
  margin-top: 7px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  .font-upper(400, 16px, 18px);
  color: #222222;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
    margin-left: 60px;
    .font-upper(400, 20px, 30px);
  }
}

.program-type__input {
  margin: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;

  &:focus + .control-mark {
    outline: 1px #222222 solid;
  }

  &:checked + .control-mark::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 13.5px;
    height: 13.5px;
    background-color: @main-background-color;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}
